# Veritabanı dosyaları
*.db
*.sqlite
*.sqlite3

# Sıkıştırılmış dosyalar
*.zip

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Geçici dosyalar
*.tmp
*.temp
*.log

# Yedek dosyalar
*.bak

# IDE
.vscode/
.idea/
*.swp
*.swo

# Node.js
node_modules/

# Virtual environment
venv/
env/
.env
